RewriteEngine On
RewriteBase /e-arsip-ci4/

# Jika akses langsung root project (tanpa path)
RewriteRule ^$ public/auth [L,R=302]

# Jika akses langsung folder /public, biarkan
RewriteCond %{REQUEST_URI} ^/e-arsip-ci4/public [NC]
RewriteRule ^ - [L]

# Selain itu, redirect ke folder /public
RewriteRule ^(.*)$ public/$1 [L]
